h1{

    color:#C7B6DC;
    text-decoration-line:underline;
    text-decoration-style:wavy;

}
p{

    color:#C7B6DC

}

.secret{
    color:#eae3f3
}

img{
width: 275px;
border-style: double;
border-color:#C7B6DC;
border-width: 15px;
border-radius: 5px;

}

body{

background-color: #eae3f3;

}

a{

color:#C7B6DC;

}
