h1{

    color:#C7B6DC

}
p{

    color:#C7B6DC

}

.secret{
    color:#eae3f3
}

.Spi{
width: 275px;
border-style: double;
border-color:#C7B6DC;
border-width: 5px;

}

body{

background-color: #eae3f3;

}

link{

color:#C7B6DC;

}

img{

width:275px;

}